body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #666;
  font-size: 10px;
  line-height: 1.5;
}
@media (min-width: 600px) {
  body {
    font-size: calc( 10px + (16 - 10) * ((100vw - 600px) / (1000 - 600)) );
  }
}
@media (min-width: 1000px) {
  body {
    font-size: 16px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
}
p,
blockquote,
pre,
address,
a,
code,
dl,
ol,
ul,
form,
table {
  margin-bottom: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #111;
}
h1 {
  font-size: 10px;
}
@media (min-width: 600px) {
  h1 {
    font-size: calc( 10px + (35.416 - 10) * ((100vw - 600px) / (1000 - 600)) );
  }
}
@media (min-width: 1000px) {
  h1 {
    font-size: 35.416px;
    line-height: 1.016489722159476em;
    margin-bottom: 0.338829907386492em;
  }
}
h2 {
  font-size: 26.18px;
}
@media (min-width: 600px) {
  h2 {
    font-size: calc( 26.18px + (32.18 - 26.18) * ((100vw - 600px) / (1000 - 600)) );
  }
}
@media (min-width: 1000px) {
  h2 {
    font-size: 32.18px;
    line-height: 1.118707271597265em;
    margin-bottom: 0.372902423865755em;
  }
}
h3 {
  font-size: 22.944000000000003px;
}
@media (min-width: 600px) {
  h3 {
    font-size: calc( 22.944000000000003px + (28.944000000000003 - 22.944000000000003) * ((100vw - 600px) / (1000 - 600)) );
  }
}
@media (min-width: 1000px) {
  h3 {
    font-size: 28.944000000000003px;
    line-height: 1.243781094527363em;
    margin-bottom: 0.414593698175788em;
  }
}
h4 {
  font-size: 19.708px;
}
@media (min-width: 600px) {
  h4 {
    font-size: calc( 19.708px + (25.708 - 19.708) * ((100vw - 600px) / (1000 - 600)) );
  }
}
@media (min-width: 1000px) {
  h4 {
    font-size: 25.708px;
    line-height: 1.400342305896997em;
    margin-bottom: 0.466780768632332em;
  }
}
h5 {
  font-size: 16.472px;
}
@media (min-width: 600px) {
  h5 {
    font-size: calc( 16.472px + (22.472 - 16.472) * ((100vw - 600px) / (1000 - 600)) );
  }
}
@media (min-width: 1000px) {
  h5 {
    font-size: 22.472px;
    line-height: 1.601993592025632em;
    margin-bottom: 0.533997864008544em;
  }
}
h6 {
  font-size: 13.236px;
}
@media (min-width: 600px) {
  h6 {
    font-size: calc( 13.236px + (19.236 - 13.236) * ((100vw - 600px) / (1000 - 600)) );
  }
}
@media (min-width: 1000px) {
  h6 {
    font-size: 19.236px;
    line-height: 1.871490954460386em;
    margin-bottom: 0.623830318153462em;
  }
}
blockquote {
  font-style: italic;
  padding-left: 1.5em;
  border-left: 5px solid #ededed;
}
blockquote cite {
  display: block;
  font-style: normal;
}
pre {
  padding: 0.75em;
  background: #fafafa;
  line-height: 1.5em;
}
pre code {
  background: none;
  padding: 0;
  border: 0;
}
code {
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  padding: 0.075em 0.225em;
  background: #fafafa;
  line-height: 0;
}
big,
sup,
sub {
  line-height: 0;
}
abbr,
acronym {
  border-bottom: 1px dotted #333;
  cursor: help;
}
address {
  font-style: normal;
}
dt {
  color: #111;
  font-weight: bold;
}
ul {
  padding-left: 1.1em;
}
ol {
  padding-left: 1.4em;
}
fieldset {
  padding: 0 0.5em 0.5em;
  border: 1px solid #ededed;
}
fieldset input[type="text"]:last-child,
fieldset textarea:last-child {
  margin-bottom: 0;
}
legend {
  color: #111;
  font-weight: bold;
}
label {
  display: block;
  margin-bottom: 0.375em;
}
input[type="text"],
textarea {
  padding: 0.75em;
  border: 1px solid #ededed;
  margin-bottom: 1em;
}
textarea {
  display: block;
}
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
th {
  padding: 0.375em;
  text-align: left;
  color: #111;
  border: 1px solid #ededed;
}
tr:nth-child(odd) td {
  background: #f7f7f7;
}
td {
  padding: 0.375em;
  border: 1px solid #ededed;
}
* {
  box-sizing: border-box;
}
html {
  text-align: center;
}
@media (max-width: 800px) {
  html {
    text-align: left;
  }
}
.logo {
  margin-bottom: 3rem;
  display: inline-block;
  display: none;
}
.wrap {
  max-width: 980px;
  margin: auto;
  text-align: left;
}
body {
  background: linear-gradient(to top, rgba(0,0,0,0.1) 5%, #fff 5%);
  background-size: 100% 1.5em;
  background-position: 0 -0.375em;
  margin: 0;
}
